html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    color: inherit;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}




.hidden{
    display: none;
}

.slider{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}
.slider__inner{
    position: relative;
}
.slider__title{
    text-align: center;
}

.slider__items{
    padding-top: 20px;
}
.slider__img{
    margin-bottom: 10px;
}
.slider__button{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}
.slider__button-prev{
    position: absolute;
    left: -20%;
}
.slider__button-next{
    position: absolute;
    right: -20%;
}
.slider__dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: gray;
  cursor: pointer;
}

.dot.active {
  background: black;
}

@media (max-width: 470px){
    .slider__dots{
        display: none;
    }   
    .slider__button{
        top: 110%;
        font-size: 14px;
        padding: 6px 12px;
    }
    .slider__button-prev{
        left: 10%;
    }
    .slider__button-next{
        right: 10%;
    }
}